




{% extends 'sidebar.html' %}
{% block body_block %}
{% load static %}

<header>
    <h2>{{name}}</h2>
  </header>

<div class="sidebar">
  <a href="home">Home</a>
  <a href="courses">Courses</a>
  <a class="active" href="attendance">Attendance</a>
  <a href="takeattendance">Take Attendance</a>
</div>

<div class="content">  
  <h3>Attendance Register</h3>
  <!-- Week Selection Dropdown -->
  <form method="get">
    <label for="week">Select Week:</label>
    <select name="week" id="week" onchange="this.form.submit()">
        <option value="">All Weeks</option>
        {% for week in week_ranges %}
        <option value="{{ week }}" {% if week == selected_week %}selected{% endif %}>{{ week }}</option>
        {% endfor %}
    </select>
</form>

  {% comment %} <form action="/teacher/courses/attendance", method='post'>
    {% csrf_token %}
    <label for="date"><h4>Enter the Date</h4></label>
    <input type="text" id="date" name="date" placeholder={{date}}>
    <input type="submit">
  </form>

</br>
</br> {% endcomment %}

{% if data %}
<table id="content">
    <thead>
        <th scope="col"></th>
        {% for date in dates %}
        <th scope="col">{{ date }}</th>
        {% endfor %}
    </thead>
    <tbody>
        {% for key, values in data.items %}
        <tr>
            <th scope="row">{{ key }}</th>
            {% for val in values %}
            <td>
                {% if val.1 == "Present" %}
                <img src="{% static 'admin/img/icon-yes.svg' %}" class="center" width="20" height="20">
                {% else %}
                <img src="{% static 'admin/img/icon-no.svg' %}" class="center" width="20" height="20">
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
</div>

{% endblock %}
